.cover
{
	position: relative;
}
.cover #map
{
	height: 100%; 
	width: 100%; 
	position:absolute; 
	top: 0; 
	left: 0; 
	z-index: 0; 
}
.cover .cover-content
{
	position: relative; 
	z-index: 1; 
}
.contact-container h3 
{
	margin-top: 50px;
	margin-bottom: 20px;
}
.contact-container .help-block
{
	color: #999;
	font-size: 12px;
}
/** Hide Google Watermarking on Maps **/
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
	display:none;
}
.gmnoprint div {
	background:none !important;
}