.cover .cover-content .cover-logo
{
	max-height: 150px;
	display: inline-block;
}

.project-link
{
	display: block;
	padding-bottom: 10px;
}
.project-link i
{
	font-size: 12px;
	vertical-align: text-top;
	padding-left: 3px;
}
a.project-screenshot
{
	width: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.project-screenshot:after
{
	content: '';
	display: block;
	margin-top: 100%;
}


.project-screenshot .project-screenshot-overlay:before
{
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em;
}
.project-screenshot .project-screenshot-overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;

}
.project-screenshot:hover .project-screenshot-overlay
{
	visibility:visible;
	opacity:1;
	transition-delay:0s;

}
.project-screenshot .project-screenshot-overlay .project-screenshot-overlay-view
{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: white;
}

.project-technologies
{
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.lightbox:before
{
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em;
}
.lightbox
{
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
	display: inline-block;
	vertical-align: middle;
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
.project-container h3
{
	margin-top: 50px;
	margin-bottom: 20px;
}
.project-container p, .project-container li
{
	font-size: 16px;
	color: #666;
	line-height: 28px;
}
.project-container li
{
	padding-bottom: 12px;
}
.project-container p a, .project-container li a
{
	font-weight: bold;
	font-family: "Droid serif", serif;
	color: #666;
}
.project-container p a:hover,
.project-container p a:focus,
.project-container li a:hover,
.project-container li a:focus
{
	text-decoration: none;
	color: #fd9226;
}
@media(max-width: 768px){
	.cover .cover-content .cover-logo
	{
		max-width: 150px;
	}
}