@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
body
{
	padding-bottom: 40px;
	font-family: "Droid serif", sans;
	background: white;
	color: #555;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
	font-weight: 600;
}
/** Sans-serif font **/
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
.label, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
a,
.help-block, 
.alert,
label, 
.btn
{
	font-family: "Open sans", sans-serif;
}
{
	font-family: "Open Sans", sans-serif;
}
/** Topbar **/
#topbar
{
	background: white;
	border-radius: 0;
	margin-bottom: 0;
	border: none;
}
#topbar .navbar-header
{

}
#topbar .navbar-brand
{
	font-family: "Droid Serif";
	font-size: 23px;
	color: #999;
	padding: 20px 15px;
	height: auto;
}
#topbar .navbar-brand:hover
{
	color: #fd9226;
}
#topbar .navbar-nav>li>a
{
	padding: 20px 25px;
	color: #aaa;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
#topbar .navbar-nav>li>a:last-of-type
{
	padding-right: 15px;
}
#topbar .navbar-nav>li>a>i
{
	padding-right: 3px;
	font-size: 18px;
	vertical-align: middle;
}
#topbar .navbar-nav>li.active>a
{
	color: #666;
}
#topbar .navbar-nav>li>a:hover,
#topbar .navbar-nav>li>a:active
{
	color: #fd9226;
	background: transparent;
}
#topbar .navbar-nav.navbar-social
{
	padding-left: 20px;
}
#topbar .navbar-nav.navbar-social>li>a
{
	padding: 18px 8px;
}
#topbar .navbar-nav.navbar-social>li>a>i
{
	font-size: 22px;

}
#topbar .nav>li>a:focus, 
#topbar .nav>li>a:hover
{
	background: transparent;
}
#topbar .navbar-toggle
{
	margin-top: 12px;
}
#topbar .navbar-toggle .icon-bar
{
	background: #999;
}
#topbar .navbar-toggle:hover .icon-bar,
#topbar .navbar-toggle:active .icon-bar
{
	background: #fd9226;
}
/** Cover **/
.cover:before
{
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em;
}
.cover
{
	width: 100%;
	text-align: center;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.cover .cover-content
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.cover .cover-content .cover-title
{
	color: white;
	margin: 0;
	padding: 0;
}
/** Form elements **/
label
{
	font-weight: 600;
}
label, .btn
{
	font-size: 16px;
}
.btn-round
{
	border: 2px solid #eee;
	width: auto;
	padding: 10px 20px;
	border-radius: 30px;
	color: #999;
	margin-bottom: 15px;
	background: transparent;
	display: inline-block;
}
.btn-round:hover,
.btn-round:focus
{
	text-decoration: none;
	border-color: #fd9226;
	color: #fd9226;
}
.btn-trans
{
	background: transparent;
	border: transparent;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}
.btn-trans.btn-space
{
	margin-bottom: 15px;
}
.btn-trans:hover,
.btn-trans:active
{
	color: #fd9226;
	text-decoration: none;
}
.btn-trans:focus
{
	outline: none;
}
.form-control
{
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 10px;
}
.form-control:focus
{
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #fd9226;
}
.has-error .form-control
{
	border-color: #EF5350;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.has-error .form-control:focus {
	border-color: #F44336;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label
{
	color: #E57373;
}
.input-lg
{
	font-size: 16px;
}
.input-group-addon
{
	border-radius: 0;
}
/** Alerts **/
.alert 
{
	border: none;
	border-radius: 0;
}
@media(max-width: 768px){
	/** Cover **/
	.cover
	{
		height: 200px;
	}
	/** Topbar **/
	#topbar .navbar-logo
	{
		margin: 10px 15px;
	}
	#topbar .navbar-nav.navbar-social>li
	{
		display: inline-block;
	}
	#topbar .container-fluid>.navbar-collapse, 
	#topbar .container-fluid>.navbar-header, 
	#topbar .container>.navbar-collapse, 
	#topbar .container>.navbar-header
	{
		border-top: 1px solid #eee;
	}
	#topbar .navbar-nav.navbar-social
	{
		padding-left: 10px;
	}
	#topbar .navbar-nav>li>a
	{
		padding: 15px;
		text-align: center;
	}
	#topbar .navbar-nav.navbar-social>li>a
	{
		padding: 15px 5px;
	}
	#topbar .navbar-nav.navbar-social
	{
		text-align: center;
		border-top: none;
	}
	#topbar .navbar-nav
	{
		margin: 0;
	}
}